// orange with white text - on hover orange border and trabsparent background
//icon on left
@mixin Btn1{
   display: block;
   position: relative;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   max-width: fit-content;

   text-decoration: none;
   @include F1500;
   font-size: 1rem;
   line-height: 100%;
   color: $wh;

   padding: 15px 30px;
   background-color: $accent;
   box-shadow: 0px 4px 10px 2px rgba(238, 133, 31, 0.2);
   border-radius: 4px;
   border: 2px solid $accent;

   transition: all 0.2s ease-in-out;
   
   i{
      margin-right: 20px;
   }

   &:hover{
      box-shadow: none;
      background-color: transparent;
      color: $accent;
   }

   @media screen and (max-width: 800px){
      font-size: 1rem;
      line-height: 150%;
      padding: 10px 20px;
   }

   
}

// transparent with white border and text   
// moving icon on right 
@mixin Btn2{
   display: block;
   position: relative;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   max-width: fit-content;

   text-decoration: none;
   @include F1400;
   font-size: 1rem;
   line-height: 100%;
   color: $wh;

   padding: 15px 30px;
   background-color: transparent;
   border-radius: 4px;
   border: 2px solid $wh;

   transition: all 0.2s ease-in-out;
   
   i{
      margin-left: 10px;
      @include rightAndBack;
   }

   &:hover{
      border-color: $accent;
      color: $accent;
   }

   @media screen and (max-width: 800px){
      font-size: 1.2rem;
      line-height: 150%;
      padding: 10px 20px;
   }

   
}
