.aboutUsWrap{
   position: relative;

   .aboutUsImage{ 
      height: 100%; 
      img{
         display: block;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   .aboutUsText{
      &__h1{
         @include H1;
      }
   
      &__h2{
         @include H2;
      }
   
      &__p{
         @include P1;
         font-size: 1.125rem;
         line-height: 200%;
         padding-bottom: 20px !important;
      }
   
      &__btn{
         @include Btn1;
         margin-top: 20px;
      }
   }
}

.numbersWrap{

   .numbersHead{
      h1{
         @include H1;
         text-align: center
      }

      h2{
         @include H2;
         font-size: 2rem;
         text-align: center;
         max-width: 700px;
         margin: 0 auto 50px auto;
      }
   }

   .number{
      p{
         text-align: center;
      }

      &__1{
         @include F1400;
         font-size: 3.75rem;
         line-height: 100%;
         color: $accent;
         margin-bottom: 5px
      }

      &__2{
         @include P1;
         font-size: 1.125rem;
      }
   }
}

.accreditationsWrap{

   .accreditationHeading{
      h1{
         @include F2700;
         font-size: 1.5rem;
         line-height: 162%;
         text-align: center;
         color: $primary;
      }
   }

   .accreditation{
      .img{
         height: 90px;
         @include Flex2;
         margin-bottom: 20px;

         img{
            display: block;
            object-fit: cover;
            max-width: 100%;
            max-height: 100%;
         }
      }

      p{
         @include P2;
         font-size: 1rem;
         text-align: center;
      }
   }
}