.termsWrapper{
   height: 100vh;
   max-height: 100vh;

   display: grid;
   grid-template-rows: max-content 1fr max-content;
   grid-template-columns: 1fr;

   .termsHeader{
      padding: 30px 0;
      h1{
         @include H2;
         margin: auto;
      }
   }

   .terms{
      overflow-y: scroll;
      overflow-x: hidden;
      scroll-behavior: smooth;
      scrollbar-width: 0px;

      &__h{
         @include F1500;
         font-size: 1.375rem;
         color: $primary;
         line-height: 160%;
         padding: 30px 0 20px;
      }

      &__p{
         @include P2;
         font-size: 1.125rem;
         margin-bottom: 2rem;

         span{
            @include P2;
            font-size: 1.125rem;
            color: $accent;
         }
      }

      &__attention{
         @include H1;
      }

      &__ul{
         list-style-type:circle;
         margin-left: 50px;
         margin-bottom: 20px;

         li{
            @include P2;
            font-size: 1.125rem;
            margin-bottom: 10px;
         }
      }
   }

   .termsFooter{
      @include Flex1;
      padding: 40px 0;

      &__date{
         @include F1500;
         font-size: 1.125rem;
         color: $primary;

         span{
            @include F1700;
            font-size: 1.125rem;
            color: $accent;
         }
      }

      &__download{
         a{
            text-decoration: none;
            @include F1700;
            font-size: 1.8rem;
            color: $accent;
            transition: all 0.5s ease;

            &:hover{
                  color: $primary;
            }
         }
      }
   }


}